{% extends '::base.html.twig' %}
{% block title %}Flickr - Photo Info{% endblock %}
{% block body %}

    {% dump(flickr)%}
    <img src="{{flickr['urls']['url'][0]['_content']}}" />
    <a href="{{flickr['urls']['url'][0]['_content']}}" target="_blank">
        Photo
    </a>
    <div>
        <table>
            {% for key, item in flickr %}
                <tr style="padding: 1em;">
                    {% if key == 'tags' %}
                      {% for tag in item['tag'] %}
                        {%dump(tag['_content'])%}
                      {% endfor %}
                    {% elseif key == 'urls' %}
                      {% for data in item['url'] %}
                        {%dump(data['type'])%}
                        {%dump(data['_content'])%}
                      {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
